@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient {
  background: rgb(96 165 250);
  background: linear-gradient(
    314deg,
    rgba(30, 27, 75, 1) 21%,
    rgba(46, 16, 101, 1) 51%,
    rgba(30, 27, 75, 1) 71%
  );
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
